/* SCROLL BAR */

::-webkit-scrollbar { width: 0px; }

::-webkit-scrollbar-track { background-color: #DEE4EA; }

::-webkit-scrollbar-thumb {
    background-color: #738496;
    border-radius: 100px;
}

/*////////////
CUSTOM ELEMENT
////////////*/

* {
    color: #DEE4EA;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

hr {
    border: 2px solid #9BB4CA80;
    padding: 0;
    margin: 0;
    width: 90%;
    margin: 0 auto;
    border-radius: 100px;
}

.largetext { font-size: xxx-large; }

.free:before {
    content: "Free";
    padding: 2px 5px;
    border-radius: 5px;
    color: #101214;
    font-size: small;
    font-weight: bold;
    background-color: #ffcc00;
}

.info {
    background-color: #339966;
    border-left: 5px solid #DEE4EA;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    width: fit-content;
    font-size: small;
    font-weight: bold;
}

.warning {
    background-color: #cc0000;
    border-left: 5px solid #DEE4EA;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    width: fit-content;
    font-size: small;
    font-weight: bold;
}

/*////
HEADER
////*/

.header {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(to right, #101214, #339966 500%);
}

.header h1,
.header p {
    margin: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*////
NAVBAR 
////*/

.navbar {
    overflow: hidden;
    background-color: #1D2125;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
    z-index: 1;
}

.navbar p {
    float: left;
    display: block;
    margin: 0px;
    padding: 12px 20px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.navbar i {
    float: left;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 5px 20px;
    text-decoration: none;
    font-size: xx-large;
    cursor: pointer;
}

.navbar i.right { float: right; }

.navbar i:hover {
    background-color: #DEE4EA;
    color: black;
}

/*/////
SIDENAV
/////*/

.sidenav {
    height: 100%;
    width: 0;
    max-width: 50vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #101214, #339966 1000%);
    overflow-x: hidden;
    padding-top: 20vh;
    text-align: center;
}

.sidenav a {
    text-decoration: none;
    font-size: x-large;
    color: #738496;
    display: block;
    margin: 10px;
}

.sidenav a:hover { color: #DEE4EA; }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: xx-large;
}

.opacity {
    width: 100vw;
    height: 0;
    position: fixed;
    background-color: black;
    top: 0;
    right: 0;
    overflow: hidden;
    opacity: 50%;
    z-index: 1;
}

/*//////////
PROGRESS BAR
//////////*/

.progress-container {
    width: 100%;
    height: 5px;
    background-color: #DEE4EA;
    position: sticky;
    top: 40px;
    z-index: 1;
}

.progress-bar {
    height: 5px;
    width: 0;
    background-color: #339966;
    box-shadow: 0px 0px 25px #339966;
}

/*///
PAGES
///*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.sidepage {
    flex: 30%;
    background-image: linear-gradient(to bottom, #101214, #339966 1000%);
    width: 100%;
    overflow-x: hidden;
}

.mainpage {
    flex: 70%;
    background-color: #161A1D;
    width: 100%;
    overflow-x: hidden;
}

.sidepage > div {
    margin: 10% 10%;
}

.mainpage > div {
    margin: 3% 10%;
}

/*//////////
CONTENT SIDE
//////////*/

/* ABOUT ME */

.sidepage .page1 { text-align: center; }

.card {
    margin: 0 auto;
    width: 70%;
    background-color: #22272B;
    padding: 4%;
    border-radius: 10px;
    outline: solid 2px #2C333A;
    display: block;
}

.card:hover { animation: rotate 1s infinite; }

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card p {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 5%;
}

.card .name {
    font-weight: bold;
    font-size: large;
}

.card a {
    display: block;
    padding: 15px;
    text-align: center;
    background-color: #2C333A;
    border-radius: 5px;
    text-decoration: none;
}

.card a:hover { background-color: #339966; }

/* SKILLS */

.sidepage .page2 .skills { margin-top: -10px; }

.skills {
    width: 100%;
    background-color: #22272B;
    border-radius: 100px;
}

.skills:hover { outline: 1px solid white; }

.skill {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    font-size: xx-small;
    border-radius: 100px;
}

.ae { width: 70%; background-color: #339966; }
.b3d { width: 15%; background-color: #cc0000; }
.html { width: 90%; background-color: #339966; }
.js { width: 80%; background-color: #339966; }
.css { width: 40%; background-color: #ff9933; }
.ps { width: 70%; background-color: #339966; }
.vs { width: 60%; background-color: #339966; }

/*//////////
CONTENT MAIN
//////////*/

/* WELCOME */

.mainpage .page1 {
    text-align: center;
    padding: 5% 0;
}

.mainpage .page1 h2 { color: #738496; margin: 0; }

.mainpage .page1 div {
    width: fit-content;
    margin: 0 auto;
}

.mainpage .page1 p {
    white-space: nowrap;
    border-right: 3px solid #DEE4EA;
    overflow: hidden;
    animation: text 10s infinite;
    font-size: small;
}

/* SLOGAN */

.mainpage .page2 { padding: 5% 0; }

.mainpage .page2 p {
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

/* PROJECT FILE */

.pfs { margin: 20px 0; }

.pfs:after {
    content: "";
    clear: both;
    display: table;
}

.pf {
    text-decoration: none;
    color: #333333;
    width: 25%;
    float: left;
    background-color: #1D2125;
    padding: 10px;
    border-radius: 10px;
    outline: solid 2px #DEE4EA;
    box-shadow: 0px 5px #DEE4EA;
    display: block;
}

.pf img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.pf p {
    font-size: medium;
    font-weight: bold;
}

.pf p,
.pf .free {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 5px 0;
}

.pf:hover {
    background-color: #2C333A;
    animation: rotate 1s infinite;
}

/* SOFTWARE */

.softwares ul { list-style-type: square; }

.softwares li { margin: 10px; }

/* GEARS */

.gears { width: 100% }

.gears td {
    font-size: small;
    padding: 10px;
    background-color: #2C333A;
    text-align: center;
}

.gears td:hover {
    padding: 15px;
    font-size: medium;
    font-weight: bold;
    outline: 1px solid white;
}

/*////
FOOTER
////*/

.footer {
    padding: 15px;
    text-align: center;
    background-color: #22272B;
    font-size: small;
    font-weight: bold;
}

/*////////
ANIMATIONS
////////*/

@keyframes rotate {
    0% { rotate: 0deg; }
    25% { rotate: 3deg; }
    50% { scale: 1.1; translate: 0px -25px; }
    75% { rotate: -3deg; }
    100% { rotate: 0deg; }
}

@keyframes text {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
}

/*////////
RESPONSIVE
////////*/

@media screen and (max-width: 768px) {
    .row { flex-direction: column-reverse; }
    .sidepage > div { margin: 5% 5%; }
    .mainpage > div { margin: 5% 5%; }
    .pf { width: 50%; }
    .largetext { font-size: xx-large; }
}